* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-textarea {
  width: 500px;
  height: 142px;
  margin-top: 20px;
  border-radius: 10px;
}

.recipe-subtitle {
  color: #320071;
}
